.btn {
  display: inline-block;
  padding: 0.5em 1em;
  background: #808080;
  color: #fff;
  margin: 1em;
}
.btn:hover, .btn:focus {
  color: #fff;
  background: #333;
}

.static-img {
  display: block;
}

iframe {
  max-width: 100%;
}

/* From https://codepen.io/chriscoyier/full/kycDp */
.map-container {
  width: 100%;
  margin: 0 auto;
  height: 0;
  padding-top: 38%;
  position: relative;
  display: none;
  /* Hide for small screens */
}
.map-container iframe {
  width: 100%;
  height: 100%;
  /* had to specify height/width */
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

/* Medium Screens */
@media all and (min-width: 34.375em) {
  .map-container {
    display: block;
  }

  .static-img {
    display: none;
  }
}